#keyboard-btn {
    display: inline;
    width: 4rem;
    height: 4rem;
    margin: 0.3rem;
    border-radius: 8px;
    font-family: 'Space Mono', monospace;
    font-size: 1.8rem;
    border: 2px solid var(--dark-blue);
}

#keyboard-btn:hover {
    background-color: var(--dark-gray);
}