.card  {
    display: inline;
    width: 8rem;
    height: 8rem;
    margin: 0.9rem;
    border-radius: 8px;
    font-family: 'Space Mono', monospace;
    border: 2px solid var(--dark-blue);
}

.flipped {
    font-size: 1rem;
    background: tomato;
}

.cardPaired {
    display: none;
}