:root {
    --light-gray: #D9D9D9;
    --dark-gray: #C7C6C4;
    --light-yellow: #F2D785;
    --dark-yellow: #D99152;
    --light-pink: #F2C0A2;
    --dark-pink: #F28F79;
    --light-blue: #3F768C;
    --dark-blue: #223A59;
    --black-blue: #181C26;
    --light-green: #6C7336;
    --dark-green: #142601;
}

#intro {
    text-align: center; 
    height: 90vh;
    animation-name: float;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#challenge1 {
    height: 90vh;
    display: none;
    text-align: center;
    animation-name: float;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#inspect-p {
    font-size: 1.5rem;
    width: 50rem;
    margin: 2rem auto;
    padding: 1rem;
    border: 2px solid var(--light-yellow);
    border-radius: 8px;
    background-color: rgba(24, 28, 38, 0.6);
}

#inspect-label {
    margin-right: 1rem;
    font-size: 1.3rem;
}

#inspect-input {
    margin-right: 1rem;
}

#challenge2 {
    height: 90vh;
    display: none;
    text-align: center;
    animation-name: float;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.password-p {
    font-size: 1.3rem;
    width: 50rem;
    margin: 2rem auto;
    padding: 1rem;
    border: 2px solid var(--light-yellow);
    border-radius: 8px;
    background-color: rgba(24, 28, 38, 0.6);
}

.password-sub {
    font-size: 1.1rem;
    background-color: var(--black-blue);
    width: 45rem;
    margin: 1rem auto;
    color: var(--light-yellow);
}

#challenge3 {
    height: 90vh;
    display: none;
    text-align: center;
    animation-name: float;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.button {
    color: var(--black-blue);
    display: block;
    margin: 2rem auto;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-size: 1rem;
    width: fit-content;
    height: 3rem;
    border-radius: 8px;
    background-color: var(--light-gray);
    border: 2px solid var(--dark-blue);
}

.button:hover {
    background-color: var(--dark-gray);
}

#back-button {
    font-family: 'Space Mono', monospace;
    font-size: 1.1rem;
    font-weight: bold;
    background: none;
    border: none;
    color: var(--dark-yellow);
}

@keyframes float {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 100px); }
    100%   { transform: translate(0, -0px); }    
}